rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
    
    match /teams/{userId=**} {
    
    allow read, write : if request.auth.uid == userId
    }
    
    match /teams/{userId} {
    allow read : if request.auth.uid != userId
    }
  }
}