:host {
  width: 100%;
  height: 100%;
}
// .ng-touched.ng-invalid {
//   @apply border-2 border-solid border-red-500;
// }

input:read-only {
  @apply bg-gray-300 text-neutral-800 cursor-default;
}
