.tasks::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  @apply bg-gray-300 my-20;
}

.noTask {
  @apply text-gray-300 font-montserrat place-self-center font-medium text-3xl p-24;
  grid-column: 2;
}

.high {
  grid-column: 1/2;
}

.normal {
  grid-column: 2/3;
}

.low {
  grid-column: 3/4;
}

ul {
  grid-auto-flow: column;
}
