<div class="w-full h-full">
  <section
    class="flex flex-col gap-16 w-full h-full bg-stone-100 overflow-scroll px-28 py-14"
  >
    <h1 class="font-montserrat font-medium text-7xl">Tasks</h1>
    <div class="flex flex-col">
      <h2 class="font-roboto font-medium text-5xl py-12">Pending</h2>
      <ul class="flex gap-5 flex-wrap">
        <app-task priority="Important"></app-task>
        <app-task priority="Normal"></app-task>
        <app-task priority="Low"></app-task>
      </ul>
    </div>
  </section>
</div>
