<section
  class="flex w-full h-full bg-[url('/assets/texShippingBackground.png')] justify-center items-center"
>
  <form
    #loginForm="ngForm"
    class="loginForm"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
  >
    <h1
      class="loginTitle"
    >
      Login
    </h1>
    <app-input
      [inputInfo]="{ name: 'email', type: 'email', label: 'Email' }"
      [control]="$any(form.get('email'))"
      [error]="{
        message: 'Invalid email',
        shouldDisplay: form.get('email')?.invalid && form.get('email')?.touched
      }"
    ></app-input>

    <app-input
      [inputInfo]="{ name: 'password', type: 'password', label: 'Password' }"
      [control]="$any(form.get('password'))"
      [error]="{
        message: 'Invalid password, min 6 characters',
        shouldDisplay:
          form.get('password')?.invalid && form.get('password')?.touched
      }"
    ></app-input>

    <div class="lostPasswordAndSignIn">
      <a href="/signup">Sign-Up</a>
      <a href="/forgotPassword">Forgot your password?</a>
    </div>
    <button
      [disabled]="!form.value.email || !form.value.password"
      class="button"
    >
      LOGIN
    </button>
  </form>
</section>
