:host {
  width: 20%;
  height: 100%;
}

.userDataContainer::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: #1e1e1e;
}

.active {
  @apply bg-zinc-900 text-stone-100;
}
