.userDataContainer::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: #1e1e1e;
}

.sidebar {
  @apply pt-6 font-roboto font-normal text-2xl text-gray-300;

  li {
    @apply flex w-full px-14 py-6 items-center cursor-pointer;
    a {
      @apply w-full h-full;
    }
  }
}

.active {
  @apply bg-zinc-900 text-stone-100;
}
