.login::after {
  content: "";
  display: block;
  width: 400px;
  height: 1.5px;
  background-color: #1e1e1e;
  margin: 20px 0;
}

.lostPasswordAndSignIn {
  @apply flex w-full justify-between underline font-montserrat text-lg text-white;
}

.button {
  @apply text-white bg-neutral-900 border border-solid border-white rounded font-montserrat font-medium text-xl px-8 py-1 my-5 transition-colors;
  @apply hover:bg-black;
}
