@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.inputGroup {
  @apply flex flex-col font-roboto font-normal w-full gap-1;

  label {
    @apply text-xl;
  }

  input,
  select {
    @apply rounded p-3;
  }
}

.button {
  @apply text-white bg-neutral-900 border border-solid border-white rounded font-montserrat font-medium text-xl px-8 py-1 my-5 transition-colors;
  @apply hover:bg-black;
}

button[disabled] {
  @apply bg-neutral-700 cursor-auto;
  @apply hover:bg-neutral-700;
}
